/* adicionaLivro.css */

.adicionaLivro {
    padding: 20px;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.links a, .links button {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
}

.links button:hover, .links a:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.player-container {
    margin-top: 20px;
}
